<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
<add name="Shops1"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=B-305-04; Initial Catalog=Shops1; Integrated Security=True; MultipleActiveResultSets=True"/>
    </connectionStrings>
</configuration>